.select_invert {
  margin-right: unset !important;
}
.new-dnsm-button-container {
  margin-top: -1px;
  position: absolute;
}
.add-item-button-small {
  height: 28px !important;
  margin-left: -4px;
  display: inline-block;
}
.remove-item-button-small {
  height: 28px !important;
  margin-right: 4px;
  display: inline-block;
}
/* select[multiple] {
  min-height: unset !important;
  max-height: unset !important;
} */
html[data-bgs='nightRider'] .hl-aw, .hl-aw {
  background-color: unset !important;
}
.conf-error-block {
    width: 100%;
    padding: 14px;
    display: block;
    border: 2px solid black;
}
.conf-error-block h3 {
    color: red;
}
.conf-error-button {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.dnsm-td-left {
    text-align: left;
    width: auto;
    word-break: break-word !important;
    overflow-wrap: break-word;
}
.dnsm-td-label {
    word-break: break-word !important;
    overflow-wrap: break-word;
}
.dnsm-td-right {
    text-align: right;
    width: auto;
}
.dnsm-header-warn-box {
    display: inline-block;
    clear: none;
    padding: 3px;
    border-style: solid;
    border-width: 2px;
}
.dnsm-warn {
    border-color: rgb(255, 255, 64) !important;
}
.dnsm-error {
    /* background-color: red; */
    border-color: rgb(255, 0, 0) !important;
}
.dnsm-cb-td {
    width: 15px;
    height: 31px;
}
.dnsm-basic-td {
    height: 31px;
    white-space: normal !important;
    word-break: normal !important;
}
.dnsm-empty-value {
    color: #595959 !important;
    font-style: italic;
}
.clickable_tr, .clickable_tr_selected {
    width: 15px;
    height: 29px;
}
.clickable-td {
    height: 29px;
    white-space: normal !important;
    word-break: normal !important;
}
.file-chooser-button {
    min-width:90px;
    width:auto !important;
    height:33px;
}
.iface-chooser-button {
    min-width:90px;
    width:auto !important;
    height:33px;
}
.dnsm-close-x {
    height: 24px;
    width: 24px;
    float: right;
    padding: 1px 5px;
    margin: 2px;
}
.dnsm-modal-desc {
    text-align: left;
    padding-right: 5px;
    word-break: break-word;
    overflow-wrap: break-word;
}
.dnsm-modal-td-label {
    min-width: 100px;
    width: 100px !important;
    text-align: right;
    padding-right: 5px;
    word-break: break-word !important;
    overflow-wrap: break-word;
}
.dnsm-modal-td-input {
    min-width: 100px;
    width: 100px !important;
    padding-left: 5px !important;
}
.dnsm-modal-title {
    width: 100%;
}
.dnsm-modal-header {
    display: flex;
    width: 100%;
}
body .CodeMirror {
    height: 65vh;
}
@media all and (min-width: 1024px) {
    .panel-body>pre>.CodeMirror {
        min-height: calc(100vh - 262px);
    }
}
html .container-fluid form ~ [data-cm-viewer] {
    margin-bottom: 6px;
}
